@import "tailwindcss";

@theme {
  --color-fundi-dark: #1D2733;
  --color-fundi-blue: #29ABE2;
  --color-fundi-green: #8CC63F;
  --color-fundi-bg: #F1F2F4;
  --font-sans: "Poppins", sans-serif;
}

:root {
  --fundi-dark: #1D2733;
  --fundi-blue: #29ABE2;
  --fundi-green: #8CC63F;
  --fundi-bg: #F1F2F4;
  --fundi-gradient: linear-gradient(135deg, var(--fundi-blue), var(--fundi-dark));
}
